.h1-style {
  border: 1px solid black;
  font-weight: 700;
  font-size: 45px;
  /* margin: 10px; */
  margin-bottom: 60px;
  color: rgb(250, 251, 252);
  background-color: rgb(190, 126, 126);
  margin-top: 0px;
  padding: 6px;
  
}